<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
    <h1 id="responseMessage">Login</h1>

    <form id="loginForm" onsubmit="return false;">
        Name: 
        <input type="text" id="username" name="username" value="" onkeyup="validateUsername()" />
        <p id="usernameMessage"></p> 

        Password: 
        <input type="password" id="password" name="password" value="" onkeyup="validatePassword()" />
        <p id="passwordMessage"></p> 

        <input type="button" id="submitBtn" value="Submit" onclick="ajaxLogin()" />
    </form>
    <a href="signup.html">Sign Up</a>

    <script src="../asset/login.js"></script>
</body>
</html>